body {
	background-color: #545b66;
}	
	
#content {
	font-family: Impact, Charcoal, sans-serif;
	font-size: 30px;
	font-style: normal;
	font-variant: small-caps;
	font-decoration: none;
	text-align: center;
	color: #0c9e35;
	width: 90%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;		
}	

#pageup {
}

#pagedown {
}

#logo {
	width: 500px;
	height: 30px;		
	margin-left: auto;
	margin-right: auto;			
}

#display  {
	border: 10px solid grey;
	border-radius: 10px;
	width: 1000px;
	height: 520px;
	margin: 20px;
	padding: 10px;
	background: #18181e;
	box-shadow: 0px 10px 20px #444;
	display:block;
	float: left;		
}

#buttonblock {
	float: left;
	margin: 40px;
}	
	
#infodata {
	float:left;
	margin: 40px;
}

#bottom {
	width: 95%;
	height: 100x;
	font-size: 10px;
	clear:both;
}

#samplingdiv {
	float:left;
	margin-left: 20px;
	margin-right: auto;
	
}	
	
#jmpdiv {
	float:left;
	margin-left: 20px;
	margin-right: auto;
}

#sensdiv {
	clear:both;
	float:left;
	margin-left: 20px;
	margin-right: auto;
	
}	
	
#sliderdiv {
	float:left;
	margin-left: 20px;
	margin-right: auto;
}

.button {
	width: 210px;
	height: 80px;
	background-color: #0e822e; /* Green */
	border: none;
	color: white;
	padding: 10px 10px;
	display: inline-block;
	font-family: Impact, Charcoal, sans-serif;
	font-size: 28px;
	font-style: normal;
	font-variant: small-caps;
	border-radius: 1px;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	border: 2px solid #0f5428;
	border-radius: 4px;
	cursor: hand;
}

button:hover {
	background-color: #12b54d; /* Green */  
} 

#ch1 {
	background-color: #9e1116;
}

#saveButton {
	background-color: #5e7768;
}

#sliders {
	clear: both;
	float: left;
	width: 1200px;
	height: 320px;
	font-size: 24px;
	text-align: center;
	margin-left: 10px;
}	

input[type=range] {
	height: 10px;
	-webkit-appearance: none;
	margin: 5px 0;
	width: 500px;
	background: transparent;
}

input[type=range]:focus {
	outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 12px;
	cursor: pointer;
	animate: 0.2s;
	box-shadow: 1px 1px 1px #000000;
	background: #3071A9;
	border-radius: 5px;
	border: 1px solid #000000;
}

input[type=range]::-webkit-slider-thumb {
	box-shadow: 1px 1px 1px #000000;
	border: 1px solid #000000;
	height: 38px;
	width: 29px;
	border-radius: 7px;
	background: #FFFFFF;
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: 5px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
	background: #3071A9;
}

input[type=range]::-moz-range-track {
	width: 100%;
	height: 12px;
	cursor: pointer;
	animate: 0.2s;
	box-shadow: 1px 1px 1px #000000;
	background: #3071A9;
	border-radius: 5px;
	border: 1px solid #000000;
}

input[type=range]::-moz-range-thumb {
	box-shadow: 1px 1px 1px #000000;
	border: 1px solid #000000;
	height: 38px;
	width: 29px;
	border-radius: 7px;
	background: #FFFFFF;
	cursor: pointer;
}

input[type=range]::-ms-track {
	width: 100%;
	height: 12px;
	cursor: pointer;
	animate: 0.2s;
	background: transparent;
	border-color: transparent;
	color: transparent;
}

input[type=range]::-ms-fill-lower {
	background: #3071A9;
	border: 1px solid #000000;
	border-radius: 10px;
	box-shadow: 1px 1px 1px #000000;
}

input[type=range]::-ms-fill-upper {
	background: #3071A9;
	border: 1px solid #000000;
	border-radius: 10px;
	box-shadow: 1px 1px 1px #000000;
}

input[type=range]::-ms-thumb {
	margin-top: 1px;
	box-shadow: 1px 1px 1px #000000;
	border: 1px solid #000000;
	height: 30px;
	width: 20px;
	border-radius: 7px;
	background: #FFFFFF;
	cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
	background: #3071A9;
}

input[type=range]:focus::-ms-fill-upper {
	background: #3071A9;
}	

#sourcebuttons {
	float:left;
	height: 500px;
	width: 170px;
	margin-right: 30px;
}

#statebuttons {
	float:left;
	height: 500px;
	width: 170px;
}